.modal-button {
    color: var(--background-colour);
    background-color: var(--accent-colour);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 136px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
    background-color: #188CE8;
}

.apply-button {
    color: var(--background-colour);
    background-color: var(--accent-colour);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    min-width: 200px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
